@using FoodOrdering.Web.Helpers
@model FoodOrdering.Web.Models.Restaurant.SearchResultsViewModel
<div class="s01">
    <form asp-action="SearchRestaurants" asp-controller="Home">
        <fieldset>
            <legend>What would you like to order today?</legend>
        </fieldset>
        <div class="inner-form">
            <div class="input-field first-wrap">
                <input asp-for="SearchString" id="search" type="text" placeholder="e.g: Taco in Cape Town" />
            </div>
            <div class="input-field third-wrap">
                <button class="btn-search" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>


@if (ViewBag.DisplaySearchResults)
{
    <div class="restaurant-results-header">
        <p class="results-header-text"><b style="font-style:italic">@Model.MenuItemName </b> restaurants in <b style="font-style:italic">@Model.City</b> we found for you: </p>
    </div>
    <div class="search-results" >
        @foreach(var restaurant in Model.Restaurants)
        {
            <p class="restaurant-name"><img src="@restaurant.LogoPath" alt="logo" style="width:100px; height:100px;" />@restaurant.Name - @restaurant.Suburb - rated #@restaurant.Rank overall</p>
            foreach(var category in restaurant.Categories.Where(c => c.MenuItems.Any(mi => mi.Name.Contains(@Model.MenuItemName))))
            {
                <p><b>@category.Name</b></p>
                foreach(var menuItem in category.MenuItems)
                {
                    <p>@menuItem.Name - @CurrencyHelper.TruncatedCurrency(menuItem.Price, "R")</p>
                }
            }
            <br/>
            <br/>
        }
        <div class="button-center">
            <button class="btn btn-success">Order</button>
        </div>
        
    </div>

}
